.DS_Store
Thumbs.db
*.swp
*.swo
*~
.#*
.nfs*
.idea/
.vscode/
*.code-workspace

*.7z
*.zip
*.rar
*.gz
*.tar
*.tgz
*.bz2
*.xz

*.ts
*.d.ts.map
*.js.map

.autocompile.json
.env
.gitignore
.npmignore
.protoshell.json
.tsbuildinfo
docker-compose.yml
pnpm-lock.yaml
tsconfig.json
